<div class="alert <%= type %> alert-dismissible" role="alert" id="<%= id %>" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= body %>
</div>