<div class="modal fade" id="confirmationModalDialog" tabindex="-1" role="dialog" aria-labelledby="cmdModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cmdModalLabel"><%= dialog.title %></h4>
      </div>
      <div class="modal-body">
        <%= dialog.body %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= dialog.cancel_text %></button>
        <button type="button" class="btn btn-primary" id="ok-button"><%= dialog.ok_text %></button>
      </div>
    </div>
  </div>
</div>