<p>
    The current password will be replaced with the new password specified bellow.
</p>
<form>
    <div class="form-group">
        <label class="control-label" for="password">New password</label>
        <input type="text" class="form-control" name="password" value="Pa$$w0rd" placeholder="User's new password">
    </div>
</form>
