<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="col-sm-6">
            <h3 class="panel-title">Users</h3>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <div id="filter"></div>
                <a href="#users/" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <button class="btn btn-default" id="remove-users">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body" id="main-panel-body">
    </div>
    <div class="panel-footer" id="main-panel-footer">
    </div>
</div>