<!-- Panel content -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= isSelf ? "Profile" : "Users" %></h3>
    </div>
    <form id="user-form">
        <div class="panel-body" id="main-panel-body">
            <div class="col-md-3">
                <div class="form-group">
                    <img src="img/default-user-avatar.png" class="img-thumbnail">
                </div>
                <div class="form-group">
                    <label class="control-label">Date joined</label>
                    <p class="form-control-static"><%= (new Date(model.date_joined)).toLocaleDateString()  %></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-horizontal">
                    <h3>Contact Information</h3>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="username">User name</label>
                        <div class="col-sm-10">
                            <input type="text" id="username" class="form-control" name="username" placeholder="Type user name here" value="<%= model.username %>" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default" id="reset-password">Reset Password</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="first_name">First name</label>
                        <div class="col-sm-10">
                            <input type="text" id="first_name" class="form-control"  name="first_name" placeholder="Type user first name here" value="<%= model.first_name %>" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="last_name">Last name</label>
                        <div class="col-sm-10">
                            <input type="text" id="last_name" class="form-control"  name="last_name" placeholder="Type user last name here" value="<%= model.last_name %>" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">Email</label>
                        <div class="col-sm-10">
                            <input type="email" id="email" class="form-control"  name="email" placeholder="Type user email here" value="<%= model.email %>" required>
                        </div>
                    </div>

                    <h3>Profile Information</h3>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">User type</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-xs-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="is_active" name="is_active" <%= model.is_active ? "checked" : "" %> <%= isSelf ? "disabled" : "" %>> is active
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="is_staff" name="is_staff" <%= model.is_staff ? "checked" : "" %> <%= isSelf ? "disabled" : "" %>> is staff member
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="groups">User groups</label>
                        <div class="col-sm-10">
                            <select id="groups" class="form-control select2-multiple select2-hidden-accessible" name="groups" aria-hidden="true" multiple tabindex="-1" data-placeholder="Pick user's groups">
                                <% _.forEach(model.groups, function (group) { %>
                                    <option value="<%= group %>" selected="selected"><%= group %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="a_string">... a string</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="a_string" name="a_string" placeholder="User profile string" value="<%= model.a_string %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="a_number">... a number</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="a_number" name="a_number" placeholder="User profile number" value="<%= model.a_number %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="a_date">... a date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="a_date" name="a_date" placeholder="User profile date" value="<%= model.a_date %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
        </div>
    </form>
</div>