{% comment %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">starter</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li><a ng-href="#/about">About</a></li>
                <li><a ng-href="#/">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
{% endcomment %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand  -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">STARTER</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="#">Important</a></li>
                <li><a href="#">Vital</a></li>
                <li><a href="#">Unavoidable</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Profile</a></li>
                        <li><a href="#/users">Users</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
                    <div class="dropdown-menu login-form">
                        <div id="alerts"></div>
                        <form id="loginForm">
                            <div class="form-group">
                                <label class="sr-only" for="username">User name</label>
                                <input type="text" id="username" class="form-control"  name="username" placeholder="User name" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember"> Remember me
                                </label>
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" id="submit" name="submit" class="btn btn-info btn-block" data-loading-text="Authenticating...">Login</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- /.container-fluid -->
</nav>
