div .login-form {
    padding: 17px;
    width: 250px;
}

.admin-row {
    background-color: #f3f31c;
}

.backgrid .username,
.backgrid .first_name,
.backgrid .last_name,
.backgrid .email {
    text-align: left;
}

/*table tbody tr td a.btn { display:none;}*/
/*table tbody tr:hover td a.btn { display:inline-block;}*/

#filter {
    display: inline-block;
}

.backgrid-filter.form-search {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.backgrid-paginator ul {
    margin: 0;
}
